extends layout

block title
  title= "Ben O'Keefe - Software Engineer"

block content
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-72788563-1', 'auto');
    ga('send', 'pageview');

  section(class="index-view")
    article(class="index-view-description")
      p(class="index-view-paragraph").
        Hi, I'm Ben, a full stack Web Applications Engineer and certified Professional Scrum Developer located in beautiful Seattle, WA.

      p(class="index-view-paragraph").
        I value simple, elegant, intuitive, and maintainable software designs and implemenentations. 
        My overarching philosophy when designing and writing software is: 
        <em>if you don't fight for simplicity, you will get complexity</em>.

      p(class="index-view-paragraph").
        I started my career out working first with ASP.NET Web Forms,
        before moving on to ASP.NET MVC.
        I now focus solely on the JavaScript stack, and am implementing both my
        professional and personal projects using React, Ember.js, Node.js, and MongoDB.
        I’ve also recently been working with Jade templates and server-side rendering, which I used to create
        the view layer of this site.

      p(class="index-view-paragraph").
        I am the sole creator, designer, architect, and developer of
        <a href="http://www.kanjiflash.com" target="_blank">www.kanjiflash.com</a>,
        a site dedicated to helping students of the Japanese language master the kanji
        required for basic adult literacy. Kanji Flash was created using Ember.js,
        Node.js, MongoDB, HTML, LESS, and Graphic (formerly iDraw). The source code can be viewed in my
        BitBucket account for the
        <a href="https://bitbucket.org/benjaminokeefe/kanji-flash-client/src" target="_blank">client</a> and
        <a href="https://bitbucket.org/benjaminokeefe/kanji-flash-server/src" target="_blank">server</a> applications,
        as well as for the
        <a href="https://bitbucket.org/benjaminokeefe/kanji-flash-api/src" target="_blank">API</a>.

      p(class="index-view-paragraph").
        The <a href="https://bitbucket.org/benjaminokeefe/personal-website/src" target="_blank">
        code used for this site</a> can also be viewed on BitBucket.

      p(class="index-view-paragraph").
        Please feel free to contact me by phone at
        <a href="tel:3016399497">(301) 639-9497</a>, or email at
        <a href="mailto:benjaminokeefe@gmail.com">benjaminokeefe@gmail.com</a>.
