doctype html
html
  head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    block title
    <meta name="description" content="The personal website of Software Engineer Ben O'Keefe">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    header(class="layout-header")
      div(class="inner-wrapper layout-header-inner-wrapper")
        div(class="layout-header-title") Ben O'Keefe
        nav(class="layout-header-menu")
          ul(class="layout-header-links")
            li(class="layout-header-menu-link-wrapper")
              a(href="/", class="layout-header-menu-link") home
            li(class="layout-header-menu-link-wrapper")
              a(href="/resume", class="layout-header-menu-link") resume
            li(class="layout-header-menu-link-wrapper")
              a(href="https://www.scrum.org/certification-list" class="layout-header-menu-link has-image" target="_blank")
                 img(class="layout-header-menu-link-image" src="images/psd1-large.png")

    main(class="layout-content")
      div(class="inner-wrapper")
        block content

    footer(class="layout-footer")
      div(class="inner-wrapper layout-footer-inner-wrapper")
        div(class="layout-footer-phone-wrapper")
          a(href="tel:3016399497" class="layout-footer-phone") (301) 639-9497

        ul(class="layout-footer-links")
          li(class="layout-footer-link-wrapper")
            a(class="layout-footer-link" href="https://bitbucket.org/benjaminokeefe" target="_blank")
              img(class="layout-footer-link-image" src="images/bitbucket.png")

          li(class="layout-footer-link-wrapper")
            a(class="layout-footer-link" href="https://github.com/benjaminokeefe" target="_blank")
              img(class="layout-footer-link-image" src="images/github.png")

          li(class="layout-footer-link-wrapper")
            a(class="layout-footer-link" href="https://www.linkedin.com/in/ben-o-keefe-72861b88" target="_blank")
              img(class="layout-footer-link-image" src="images/linkedin.png")

        div(class="layout-footer-email-wrapper")
          a(href="mailto:benjaminokeefe@gmail.com" class="layout-footer-email") benjaminokeefe@gmail.com
