extends layout

block title
  title= "Ben O'Keefe - Resume"

block content
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-72788563-1', 'auto');
    ga('send', 'pageview');

  - var formattedPhone = `(${phone.substr(0, 3)}) ${phone.substr(3, 3)}-${phone.substr(6, 4)}`;
  section(class="resume-view")

    section(class="resume-view-section")
      h1(class="resume-view-section-header") Summary:
      p(class="resume-view-section-text")= summary

    section(class="resume-view-section")
      h1(class="resume-view-section-header") Technical Skills:
      p(class="resume-view-section-text")= technicalSkills.join(', ')


    section(class="resume-view-section")
      h1(class="resume-view-section-header") Personal Experience:
      each project in personalProjects
        article(class="resume-view-section-article")
          h1(class="resume-view-section-org")= project.projectName
          ul(class="resume-view-section-experience-list")
            each experience in project.experiences
              li(class="resume-view-section-experience-list-item")!= experience

    section(class="resume-view-section")
      h1(class="resume-view-section-header") Professional Experience:
      each company in professionalExperience
        article(class="resume-view-section-article")
          h1(class="resume-view-section-article-header")= `${company.title} (${company.startDate} - ${company.endDate})`
          h2(class="resume-view-section-org")= company.companyName
          ul(class="resume-view-section-experience-list")
            each experience in company.experiences
              li(class="resume-view-section-experience-list-item")!= experience

    section(class="resume-view-section")
      h1(class="resume-view-section-header") Education:
      article(class="resume-view-section-article")
        each school in education
          h1(class="resume-view-section-article-header")= school.schoolName
          ul(class="resume-view-section-experience-list")
            each experience in school.experiences
              li(class="resume-view-section-experience-list-item")!= experience

    section(class="resume-view-section")
      h1(class="resume-view-section-header") Certifications:
      ul(class="resume-view-section-experience-list")
        each certification in certifications
          li(class="resume-view-section-experience-list-item") #{certification.certificationName}
            if certification.dateReceived
              span #{''} #{certification.dateReceived}
    
    section(class="resume-view-section")
      h1(class="resume-view-section-header") Languages:
      ul(class="resume-view-section-experience-list")
        each language in languages
          li(class="resume-view-section-experience-list-item")!= language
