@dark-color: #0C0F0F;
@middle-color: #9ccef3;
@light-color: #FCFFE4;
@large-horizontal-breakpoint: 980px;
@medium-horizontal-breakpoint: 786px;
@small-horizontal-breakpoint: 420px;
@inner-wrapper-horizontal-padding: 2%;
@view-padding-top-large: 50px;
@view-padding-top-small: 25px;