@photo-wrapper-border-radius: 2px;
@index-view-description-padding: 15%;

.index-view {
  padding-top: @view-padding-top-large;

  @media screen and (max-width: @small-horizontal-breakpoint) {
    padding-top: @view-padding-top-small;
  }

  .index-view-description {
    padding: 0 @index-view-description-padding;

    @media screen and (max-width: @medium-horizontal-breakpoint) {
      padding: 0 @inner-wrapper-horizontal-padding;
    }
  }

  .index-view-paragraph {
    margin-bottom: 35px;
    font-size: 1.2em;
    
    @media screen and (max-width: @small-horizontal-breakpoint) {
      font-size: 1em;
    }

    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 75px;
    }
  }
}
