.layout-header {
  background-color: @middle-color;
  display: flex;
  padding: 15px 0;

  .layout-header-inner-wrapper {
    display: flex;
  }

  .layout-header-title,
  .layout-header-menu {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .layout-header-title {
    color: @dark-color;
    font-size: 2em;
    font-weight: bold;
    
    @media screen and (max-width: @large-horizontal-breakpoint) {
      padding-left: @inner-wrapper-horizontal-padding;
    }

    @media screen and (max-width: @small-horizontal-breakpoint) {
      font-size: 1.6em;
    }
  }

  .layout-header-menu {
    @media screen and (max-width: @large-horizontal-breakpoint) {
      padding-right: @inner-wrapper-horizontal-padding;
    }

    justify-content: flex-end;
  }

  .layout-header-menu-link-wrapper {
    display: inline-block;
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }

    .layout-header-menu-link {
      color: @dark-color;
      text-decoration: none;
      border: none;
      font-size: 1.2em;

      &:hover:not(.has-image) {
        border-bottom: dotted 1px @dark-color;
      }

      .layout-header-menu-link-image {
        width: 35px;
        vertical-align: middle;
      }
    }
  }
}

.layout-footer {
  height: 200px;
  background-color: @middle-color;
  display: flex;
  align-items: center;
  margin-top: auto;

  @media screen and (max-width: @medium-horizontal-breakpoint) {
    padding: 40px 0;
  }

  .layout-footer-inner-wrapper {
    display: flex;

    @media screen and (max-width: @medium-horizontal-breakpoint) {
      flex-direction: column;
    }

    .layout-footer-phone-wrapper,
    .layout-footer-links,
    .layout-footer-email-wrapper {
      flex: 1;
      text-align: center;

      @media screen and (max-width: @medium-horizontal-breakpoint) {
        margin-bottom: 50px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .layout-footer-phone,
  .layout-footer-email {
    &:hover {
      color: #000;
      border-bottom: dotted 1px #000;
    }
  }

  .layout-footer-links {
    margin-top: -12.5px;
    
    @media screen and (max-width: @medium-horizontal-breakpoint) {
      margin-top: 0;
    }

    .layout-footer-link-wrapper {
      display: inline-block;
      margin-left: 25px;

      &:first-child {
        margin-left: 0;
      }

      .layout-footer-link-image {
        width: 50px;
      }
    }
  }
}
