@padding-bottom: 25px;

.resume-view {
  padding: @view-padding-top-large 15% 75px 15%;

  @media screen and (max-width: @small-horizontal-breakpoint) {
    padding: @view-padding-top-small 15% 75px 15%;
  }

  @media screen and (max-width: @large-horizontal-breakpoint) {
    padding-left: @inner-wrapper-horizontal-padding;
    padding-right: @inner-wrapper-horizontal-padding;
  }

  .resume-view-section {
    margin-bottom: @padding-bottom;

    .resume-view-section-header,
    .resume-view-section-org {
      font-size: 1em;
      font-style: italic;
    }

    .resume-view-section-org {
      font-weight: normal;
    }

    .resume-view-section-article-header {
      font-size: 1.2em;
      font-weight: normal;
    }

    .resume-view-section-experiences-heading {
      font-size: 0.9em;
    }

    .resume-view-section-experience-list {
      margin-bottom: @padding-bottom;

      .resume-view-section-experience-list-item {
        margin-left: 50px;
      }
    }
  }
}
