@import 'globals.less';
@import 'reset.less';
@import 'index.less';
@import 'resume.less';
@import 'layout.less';

body {
  font-size: 16px;
  color: @dark-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: dotted 1px @middle-color;

  &:hover {
    color: @middle-color;
  }
}

.inner-wrapper {
  width: 100%;
  max-width: 980px;
  margin: auto;
}
